/*
Övning
  Skapa en helt ny row under den befintliga
  Den ska innehålla fyra boxar
  box 1 ska ha samma storlek som box 3
  box 2 och 4 ska vara dubbelt så stora som box 1 & 3

*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  width: 80%;
  gap: 10px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
}
.box1 {
  background-color: #ff7f7f;
  /* Betyder att den tar upp en del av det tillgängliga utrymmet. */
  flex: 1;
}
.box2 {
  background-color: #7fff7f;
  /* Betyder att den tar upp dubbelt så mycket utrymme som .box1. */
  flex: 2;
}
.box3 {
  background-color: #7f7fff;
  /* Betyder att den tar upp tre gånger så mycket utrymme som .box1. */
  flex: 3;
}
