/*
Övning
  Skapa en helt ny row under den befintliga
  Den ska innehålla fyra boxar
  box 4 ska ha samma storlek som box 6
  box 5 och 7 ska vara dubbelt så stora som box 4 & 6

*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.row {
  display: flex;
  width: 100%;
  gap: 10px;
  margin: 10px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.box1 {
  background-color: #ff7f7f;
  /* Betyder att den tar upp en del av det tillgängliga utrymmet. */
  flex: 1;
}
.box2 {
  background-color: #7fff7f;
  /* Betyder att den tar upp dubbelt så mycket utrymme som .box1. */
  flex: 2;
}
.box3 {
  background-color: #7f7fff;
  /* Betyder att den tar upp tre gånger så mycket utrymme som .box1. */
  flex: 3;
}

.box4,
.box6 {
  background-color: #ff7f7f;
  /* Betyder att den tar upp en del av det tillgängliga utrymmet. */
  flex: 1;
}
.box5,
.box7 {
  background-color: #7fff7f;
  /* Betyder att den tar upp dubbelt så mycket utrymme som .box1. */
  flex: 2;
}
